{% extends "base.html" %}
{% load static %}
{% block title %} Yoouk | {{ book.title }} {% endblock title %}
{% block styles %} <link rel="stylesheet" href="{% static 'readpdf/audiopdf.css' %}"> {% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4" id="section1">
        <div class="col-lg-12">
            <p><span>My Library /</span> <strong>{{ book.title }}</strong></p>
            <br>
            <h2>{{ book.title }}</h2>
        </div>
    </div>
    <div class="row mt-5" id="section2">
        <div class="col-lg-4 col-sm-6">
            <div class="card text-center mb-2">
                <img src="{% static 'images/fond2.webp' %}">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p>Nombres de pages du PDF : {{ num_pages }}</p>
                    <div class="card-text">
                        {% if audio_url %}
                        <audio controls style="max-width:240px;">
                            <source src="{{ audio_url }}" type="audio/mpeg">
                            Votre navigateur ne supporte pas l'audio.
                        </audio>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-6" id="text">
            <p id="pdf-text">{{ text|linebreaks }}</p>
        </div>
    </div>
    <div class="row" id="section3">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <div class="pagination">
                {% if current_page > 1 %}
                    <a href="?page={{ current_page|add:"-1" }}">Précédent</a>
                {% endif %}
                <span>Page {{ current_page }} / {{ num_pages }}</span>
                {% if current_page < num_pages %}
                    <a href="?page={{ current_page|add:"1" }}">Suivant</a>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

{% endblock content %}